<?xml version="1.0" encoding="utf-8"?> 
<connectionStrings>
  <add name="UserDBContext" 
       connectionString="Data Source=LAPTOP-GF380PD5\SQLEXPRESS;Initial Catalog=bayu_data;User Id=bayu;Password=bayu123" 
       providerName="System.Data.SqlClient"/>

  <add name="IdentityDB" 
       connectionString="Data Source=LAPTOP-GF380PD5\SQLEXPRESS;Initial Catalog=bayu_auth;User Id=bayu;Password=bayu123" 
       providerName="System.Data.SqlClient" /> 

  <add name="ErrLoggerDB" 
       connectionString="Data Source=LAPTOP-GF380PD5\SQLEXPRESS;Initial Catalog=bayu_auth;User Id=bayu;Password=bayu123" 
       providerName="System.Data.SqlClient" />

  <add name="MongoDBData" 
       connectionString="mongodb://localhost:27017/bayucode" />
</connectionStrings>
  