@{
    ViewBag.Title = "Data Buku";
}

<h2>Data Buku</h2>

<p>
    <a href="/Buku/Create" class="btn btn-primary">+ Tambah Buku</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Kode Buku</th>
            <th>Judul</th>
            <th>Pengarang</th>
            <th>Penerbit</th>
            <th>Tahun</th>
            <th>Stok</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>BK001</td>
            <td>Pemrograman Dasar</td>
            <td>Bayu Jaya</td>
            <td>Pustaka Raya</td>
            <td>2025</td>
            <td>10</td>
        </tr>
    </tbody>
</table>
